<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base target="_blank">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
</head>

<body>

<div id="header">
    <div class="w980 clearfix">
        <h1><a href="/" title="<%= title %>"><%= title %></a></h1>
        <a class="contact" href="contact.html" title="联系我们"></a>
    </div>
</div>

<div class="nav clearfix">
    <div class="w980">
        <ul>
            <ul>
                <% for(var i = 0; i < categories.length; i++){ %>
                    <% if(categories[i].url == requrl){ %>
                            <li class="current"><a target="_self" href="<%= categories[i].url %>"><%= categories[i].name %></a></li>
                    <% }else{ %>
                            <li><a target="_self"  href="<%= categories[i].url %>"><%= categories[i].name %></a></li>
                    <% } %>
                <% } %>
            </ul>
        </ul>
    </div>
</div>

<div class="w980 flash">
    <% if(success){ %><div class="alert alert-success"><%= success %></div> <% } %>
    <% if(error){ %><div class="alert alert-danger"><%= error %></div> <% } %>
</div>