<%- include ../include/header %>

<div class="w980">
    <form action="/articles/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_id" value="<%= article._id %>">
        <input type="text" placeholder="文章标题" name="title" value="<%= article.title %>">
        <br><br>
        <textarea name="content"  id="content" cols="30" rows="10" placeholder="请输入文章内容"><%= article.content %></textarea>
        <br><br>
        <label for="article-img">图片</label>
        <input type="file" name="poster" id="article-img">
        <br>
        <img src="<%= article.poster %>" alt="<%= article.title %>">
        <br><br>
        <input type="submit" value="发表文章">
    </form>
</div>

<%- include ../include/footer %>