<%- include ../include/header %>

<div class="">
    <form action="/articles/list" method="get">
        <input type="text" placeholder="请输入关键字" name="q" value="<%= q %>">
        <input type="submit"value="搜索">
    </form>
</div>

<%
    articles.forEach(function(article){
%>
        <div class="media w980">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="/images/user-default.png" alt="用户头像">
                </a>
            </div>
            <div class="media-body">
                <p class="media-heading">
                    <span class="publisher">作者: <%= article.user.username %></span>
                </p>
                <h4><span class="title">标题: </span><%- article.title %></h4>
                <p><%- article.content %></p>

                <%
                    if(article.poster){
                %>
                        <img class="media-object" src="<%= article.poster %>" alt="文章图片">
                <%
                    }
                %>
                <span class="publish-time"><%= article.createAt.toLocaleString() %></span>
            </div>
        </div>
<%
    });
%>

<ul>
    <li><a href=""></a></li>
</ul>

<%- include ../include/footer %>